.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.mat-input-full-width {
  width: 100%;
}

.mat-focused .mat-form-field-flex .mat-form-field-underline  {
  background-color: white !important;
}

.mat-form-field-ripple.mat-focused .ng-touched  {
  background-color: white !important;
}

::ng-deep mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: white !important;
}
