<div class="flex flex-row min-h-screen bg-fixed bg-cover" [ngStyle]="{ 'background-image': 'url(' + imageUrl + ')'}">
  <div class="flex basis-4/6 p-8 justify-items-start items-end bg-gray-900/75">
    <div *ngIf="_weatherService.currentWeather as data; else elseBlock" class="text-white">
        <div class="flex flex-row items-center">
          <div class="flex flex-col">
            <div class="text-xl">{{_geolocationService.currentLocation$.value.name}}</div>
          </div>
          <button *ngIf="isFavorite(); else elseBlock" (click)="removeFromFavorites()" mat-icon-button color="primary" aria-label="remove from favorites">
            <mat-icon class="text-white">favorite</mat-icon>
          </button>
          <ng-template #elseBlock>
            <button mat-icon-button color="primary" aria-label="remove from favorites" (click)="addToFavorites()">
              <mat-icon class="text-white">favorite_outline</mat-icon>
            </button>
          </ng-template>
        </div>
      <div class="text-7xl font-bold py-4">{{data.list[currentHour].weather[0].description}}</div>
      <div class="text-3xl">Felt like: {{data.list[currentHour].main.feels_like}}°C</div>
      <div class="text-3xl">Actual temperature: {{data.list[currentHour].main.temp}}°C</div>
    </div>
    <ng-template #elseBlock>Sorry no data was available for this location yesterday</ng-template>
  </div>
  <div class="flex flex-col basis-2/6 w-full bg-gray-900/90 text-white max-h-screen justify-between">
    <div class="p-8"><app-search-bar></app-search-bar></div>
    <app-favorites class="flex flex-col overflow-y-auto overscroll-contain p-8 justify-start self-end min-w-full"></app-favorites>
    <a class="text-center m-8 p-4 border rounded-full bg-white text-gray-900 text-lg" href="https://www.accuweather.com/ro/ro/timisoara/290867/daily-weather-forecast/290867">Go to a normal weather app</a>
  </div>
</div>
