<app-search-bar></app-search-bar>
<p>Faves:</p>
<app-favorites></app-favorites>
<br>
<p>Yesterday's data from <span *ngIf="locationData$ | async as location">{{location.features[0].text}}</span>:</p>
<div *ngIf="_weatherService.weatherData$ | async as data; else elseBlock">
  <div>Description: {{data.list[currentHour].weather[0].description}}</div>
  <div>Feels like: {{data.list[currentHour].main.feels_like}}</div>
  <div>Actual temp: {{data.list[currentHour].main.temp}}</div>
</div>
<ng-template #elseBlock>Sorry no data was available for this location yesterday</ng-template>
